:host {
  outline: none;
}

.result-wrapper-additional {
  .result-table {
    tr {
      height: 40px;
    }
  }
}

.extra-grid-normal {
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.extra-grid-slide {
  justify-items: start;
  align-items: start;
  grid-template-columns: 6fr 4fr;
  grid-gap: 0 24.75em;
}

.result-wrapper {
  display: grid;
  grid-gap: 0 2.75em;
  grid-template-columns: 1fr auto;
  margin: 3.1875em 55px 0px 35px;

  .result-table {
    border-collapse: collapse;
    height: fit-content;
    width: 100%;
    font-size: 22px;
    .right-header {
      font-weight: initial;
      text-align: right;
    }
    .left-header {
      text-align: left;
      font-weight: initial;
    }

    tr {
      border-bottom: none !important;
      font-size: 38px;
      font-weight: 500;

      .result-cell-definition {
        white-space: nowrap;
        text-align: right;
        padding-left: 35px;
      }

      td {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 0 !important;
        padding-left: 20px !important;
      }

      :nth-child(2):not(th) {
        padding-left: 10px;
        padding-right: 10px;
        min-width: 120px;
      }
    }

    .column-padding-width-slide {
      tr {
        td {
          padding: 15px 0;
        }

        td.label-column {
          min-width: 300px;
        }

        :nth-child(2):not(th) {
          padding-left: 20px;
          padding-right: 20px;
          min-width: 80px;
        }

        :nth-child(3):not(th) {
          min-width: 160px;
        }
      }
    }

    .percent-column-width-large {
      tr {
        :nth-child(2):not(th) {
          min-width: 100px;
        }
      }
    }

    .valid-votes-row {
      border-top: 2px solid rgba(128, 128, 128, 0.2);
    }

    .votesinvalid.slide {
      font-size: 24px !important;
      font-weight: 400 !important;
      line-height: 0.8;
    }

    .votescast.slide {
      font-size: 24px !important;
      font-weight: 400 !important;
      line-height: 0.8;
    }

    projector-icon-container {
      display: flex;
      align-items: center;
      .material-icons {
        font-size: 34px;
      }
      .option-name {
        font-weight: 500;
      }
    }
  }

  .doughnut-chart-normal {
    width: 200px;
    margin-top: -35px;
    align-self: start;
  }

  .doughnut-chart-slide {
    margin-top: 0px;
    justify-self: right;
  }
}

.poll-chart-canvas-style {
  position: relative;
  height: 260px;
  width: 260px;
}
