.countdown {
  z-index: 10;
}

.countdown.fullscreen {
  width: 100%;
  height: 100%;
  z-index: 20;
  display: grid;
}

.overlay-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 5px;
  z-index: 10;
  padding: 10px;
}

.countdown.overlay {
  position: relative;
  padding: 14px 6px;
  min-height: 60px;
  min-width: 230px;
  font-size: 5.0625em;
  font-weight: bold;
  text-align: right;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.countdown.overlay.only-time-indicator {
  width: auto;
  padding-left: 35px;
}

.countdown.overlay .description {
  font-weight: normal;
  font-size: 18px;
  padding-right: 6px;
}

.countdown-time-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  &.warning-time {
    color: #ed940e;
    .time-indicator-wrapper #timeIndicator {
      background: #ed940e;
    }
  }

  &.negative-time {
    color: #c00;
    .time-indicator-wrapper #timeIndicator {
      background: #c00;
    }
  }

  & {
    .time-indicator-wrapper {
      text-align: left;

      &.only-time-indicator {
        width: 100%;
        text-align: right;

        #timeIndicator {
          width: 60px;
          height: 60px;
        }
      }

      #timeIndicator {
        width: 50px;
        height: 50px;
        display: inline-block;
        background: green;
        border-radius: 50%;
      }
    }

    .countdown-wrapper {
      min-width: 170px;
      text-align: right !important;
      position: relative;
      height: 100%;

      &:not(.only-countdown) {
        margin-left: 10px;
        font-size: 68px;
        line-height: 60px;
      }

      &.only-countdown {
        width: 100%;
        min-width: auto;
        line-height: 100%;
        text-align: center;
      }

      #countdown {
        white-space: nowrap;
        font-weight: 800;
        text-align: center;
        font-family: 'OSFont Monospace';
      }
    }
  }
}

.countdown.fullscreen .countdown-time-wrapper {
  .time-indicator-wrapper {
    width: 30%;

    #timeIndicator {
      width: auto;
      height: auto;
      margin-left: 50px;
    }
  }

  .countdown-wrapper {
    width: 70%;

    #countdown {
      position: absolute;
      right: 0;
      margin-right: 50px;
      line-height: 230px;
      font-size: 230px;
      bottom: calc(50% - 115px);
    }
  }

  .time-indicator-wrapper {
    &.only-time-indicator {
      width: 100%;
      text-align: center;

      #timeIndicator {
        padding: 0 0 70% 70%;
      }
    }

    &:not(.only-time-indicator) {
      #timeIndicator {
        padding: 0 0 65% 65%;
      }
    }
  }

  .countdown-wrapper.only-countdown {
    margin: 0 50px;
    width: calc(100% - 100px);

    #countdown {
      line-height: 300px;
      font-size: 300px;
      bottom: calc(50% - 150px);
    }
  }
}
