.motion-block-slide {
  display: flex;
  flex-direction: column;
  height: calc(var(--projector-inner-height) * 1px - 20px);

  .column-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.5625em;
    .motion-number {
      font-size: 1.25em;
      white-space: nowrap;
      margin-right: 12px;
      font-weight: 500;
      line-height: 1.8;
    }
    .motion-details {
      overflow: hidden;
    }
    .motion-recommendation {
      line-height: 1;
      max-width: 100%;
      .label {
        display: inline-block;
        font-size: 1.25em;
        font-weight: 500;
        border-radius: 5px;
        padding: 0px 8px;
        line-height: 1.8;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(100% - 16px);
      }
    }
    .motion-title {
      font-size: 0.9375em;
      font-weight: 300;
      display: var(--title-display, block);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .motion-grid-container {
    --grid-layout-gap: 7.5px;
    --grid-column-count: 1;
    --grid-item--min-width: 200px;

    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
    );
    grid-gap: var(--grid-layout-gap);
    margin-top: calc(var(--projector-scroll) * -20px);
  }

  projector-motion-block {
    padding-top: 12px;
    overflow: hidden;
    flex-grow: 1;
  }
}
