.agenda-item-list-content {
  ul {
    list-style: none;
    font-size: 1.25em;
  }

  & > ul {
    font-size: 1.5em;
    padding-left: 0;
  }
}
.agenda-item-list-container {
  margin-top: calc(var(--projector-scroll) * -25px);
}
