#background {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
}

#message {
  align-self: center;
  width: 80%;
  text-align: center;
  justify-self: center;
  border-radius: 0.25em;
  background: #ffffff;
  font-size: 3.1875em;
  padding: 0.6875em 0.375em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  min-height: 20px;
  line-height: normal;
}

#message p {
  margin: 0 0 10px;
}
